/* GLOBAL */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --main-font: 'Raleway', sans-serif;
}

body {
  background-color: #010101;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.title-container {
  margin: 200px 0 0 50px;
}

.main-title {
  font-family: var(--main-font);
  font-size: 50px;
  color: #f7f73d;
}

.main-description {
  display: inline-block;
  padding: 0 10px;
  margin-left: 215px;
  font-family: var(--main-font);
  letter-spacing: 0.1rem;
  color: #fff;
  border: 2px solid #f7f73d;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 10px 0 rgb(226, 238, 62, 0.8);
  text-transform: uppercase;
}

.social {
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  font-size: 16px;
}

.social-link {
  margin-right: 25px;
  color: #fff;
}

.move:hover {
  color: #f7f73d;
  animation: rotation 1s linear;
}

@keyframes rotation {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* HEADER */
.header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.sticky {
  position: fixed;
  height: 75px;
  top: 0;
}

.portfolio {
  margin: 20px 0 0 25px;
  font-family: var(--main-font);
  font-size: 1.8rem;
  color: #ffffff;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.bars {
  width: 50px;
  height: 50px;
  margin: 25px 10px;
  background-image: url('./img/open.png');
  background-repeat: no-repeat;
  cursor: pointer;
  filter: invert(100%); 
}

.bars-close {
  width: 50px;
  height: 50px;
  margin-left: 120px;
  background-image: url('./img/close.png');
}

.bars-container__list {
  margin-top: 120px !important;
  margin-right: 0px !important;
}

.hide-menu {
  display: none;
}

.bars-container__item {
  font-size: 28px;
  font-family: var(--main-font);
  text-transform: uppercase;
  line-height: 4.5rem;
  letter-spacing: 0.2rem;
  color: #fff;
  text-decoration: none;
}

.bars-container__item:hover {
  color: #f7f73d;
  transition: all 0.5s;
}

/* ABOUT */
.about {
  width: 100%;
  min-height: 100vh;
  background-image: url('./img/about-black.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social-about {
  margin-top: 300px;
  margin-left: 50px;
}

/* .view-container {
  width: 20%;
  margin: 100px 0 0 50px;
}

.arrow {
  width: 20%;
  font-size: 15px;
  font-family: var(--main-font);
  text-transform: uppercase;
  border: 2px solid #f7f73d;
  border-radius: 50%;
  padding: 12px;
  color: #fff;
  cursor: pointer;
  display: none;
} */

/* .arrow span {
  margin-left: 5px;
}

.view-more {
  width: 70%;
  font-size: 15px;
  font-family: var(--main-font);
  text-transform: uppercase;
  border: 2px solid #f7f73d;
  border-radius: 50px;
  padding: 12px;
  display: none;
}

.view-more__link {
  color: #fff;
  text-decoration: none;
}

.view-more__link span {
  margin-left: 35px;
  font-size: 15px;
} */

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

/* WORK */
.work {
  width: 100%;
  min-height: 100vh;
  background-image: url('./img/works-black.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
  border: 2px solid #f7f73d;
  box-shadow: 0 0 3px #f7f73d;
  background-color: rgba(8, 8, 8, 0.8);
}

.work-img__murk {
  width: 100%;
  height: 140px;
  background-image: url('./img/murk-tattoo.png');
}

.work-img__curly {
  width: 100%;
  height: 140px;
  background-image: url('./img/curly.png');
}

.work-img__lead {
  width: 100%;
  height: 140px;
  background-image: url('./img/lead.png');
}

.work-container__description {
  margin-top: 10px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #fff;
}

.work-container__link {
  margin-top: 15px;
  font-size: 16px;
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: 0.1rem;
  color: #f7f73d;
  text-decoration: none;
}

.work-container__link:hover {
  color: #fff;
  border-bottom: 2px solid #f7f73d;
  transition: 0.2s all;
  transform: scaleX(1);
}

/* CONTACTS */
.contacts {
  width: 100%;
  min-height: 100vh;
  background-image: url('./img/contacts-black.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social-contacts {
  margin: 0 auto;
  margin-top: 220px;
  font-size: 30px;
}

.round {
  width: 70px;
  margin: 0 auto;
  margin-left: 30px;
  padding: 10px;
  border: 2px solid #f7f73d;
  border-radius: 50px;
}

.round i {
  margin-left: 5px;
}

@media (max-width: 600px) {
  .main-description {
    margin: 0 auto;
    margin-left: 20px;
  }
  .social {
    margin-bottom: 80px;
  }
  .social-about {
    margin: 0 auto;
    margin-top: 300px;
    margin-bottom: 80px;
  }
  .container {
    flex-direction: column;
    margin: 0 auto;
    margin-top: 80px;
  }
  .work-container {
    margin-top: 50px;
  }
  .main-description__media {
    margin-left: 60px;
  }
  .social-contacts {
    font-size: 20px;
  }
  .round {
    width: 55px;
  }
}
